<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CadastroDeAtivos.Properties.Settings.AtivoConnectionString"
            connectionString="Data Source=DESKTOP-1MJ9K06\SQLEXPRESS;Initial Catalog=Ativo;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>